body{   /*this body section will add styles to the whole page*/
    background-color: rgb(231, 231, 231); /*This changes the background colour*/
    text-align: center; /*This piece of code makes all content center in to the middle*/
    
} 

.top{
    background-color: aqua;
    height: 200px;
    width: 100%;
   } 

   body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}



